<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Management</title>
 
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <nav class="main-navigation">
      
    </nav>

    <main role="main">
        @RenderBody() 
    </main>

    <script src="~/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>